html,
body {
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

.bold {
    font-family: bold;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .no-hyper {
        text-decoration: none;
    }

/* HEADER */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-right {
    list-style: none;
    display: flex;
}

.right-corner {
    margin-right: 60px;
}

.right-corner-b {
    margin-right: 60px;
    color: gray;
    text-decoration: none;
}

#logo {
    margin-left: 60px;
    height: 60px;
}

/* H1 + H2 */

h1 {
    font-size: 30px;
    font-weight: bold;
    margin-left: 40px;
}

h2 {
    font-size: 21px;
    font-weight: lighter;
    margin-top: -12px;
    margin-left: 40px;
}

/* SEARCH BAR */

.search-bar {
width: 400px;
border-radius: 15px;
border: 1.5px solid #ecebeb
}

.icon-size {
    height: 50px;
    width:  50px;
    border-radius: 10px 0 0 10px;
}

.search {
font-size: 18px;
font-weight: bold;
color: black;
height: 50px;
width: 230px;
}

.border-none {
    border: none;
}

.grey-back {
    background-color: #f2f2f2;
  }

.blue-back {
    background-color: #0065FC;
}
.btn {
height: 50px;
width: 140px;
cursor: pointer;
border-radius: 0 10px 10px 0;
font-size: 18px;
font-weight: bold;
color: white;
}

.search-padding {
    padding-left: 15px;
}
.section-search {
    margin-left: 40px
}

/* Filter */

.padding-left {
    display: flex;
    justify-content: flex-start;
    padding-left: 40px;
}

.container {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
}

.blue-icon {
    color: #0065FC;
}

/* header */

.header-main {
    border: 2px solid #d4d2d2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}
.icon-size {
    height: 50px;
    width: 50px;
  }

.circle-header {
    border-radius: 25px;
    margin-left: -2px;
    width: 52px;
    height: 52px;
    border-radius: 25px;
    color: #0065FC;
    background-color: #DEEBFF;
}

.header-font {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
    color: black;
    font-size: 18px;
    font-style: bold;
}

.header-margin {
    margin-top: 30px;
    margin-bottom: 50px;
}

.header-main:hover > .header-font {
    color: #0065fc;
  }
.header-main:hover > .circle-header {
    color: white;
    background-color: #0065fc;
  }

/* INFO */

.align-center {
    display: flex;
    align-items: center;
}

.icon-circle {
    border-radius: 25px;
    margin-right: 15px;
    width: 20px;
    height: 20px;
    border: 1px solid #d4d2d2;
}

.test {
    display: inline-block;
}

/* LOCATION CARDS */

.card {
    width: 400px; /*1*/
    margin: 0px auto; /*2*/
    background-color: white; /*3*/
    box-shadow: 0px 5px 20px #999; /*4*/
  }
  .card a { /*5*/
    color: #333; 
    text-decoration: none;
  }
  .card:hover .card-image img { /*6*/
    width: 160%;
    filter: grayscale(0);
  }

  .card-image {
    height: 250px;/*1*/
    position: relative;/*2*/
    overflow: hidden;/*3*/
  }
  .card-image img {
    width: 150%;/*4*/
      /*5 - Méthode de centrage en fonction de la taille de l'image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: grayscale(1);/*6*/
      /*7 - Transition */
    transition-property: filter width; 
    transition-duration: .3s;
    transition-timing-function: ease;
  }

  .card-body {
    text-align:center;  /*1*/
  padding: 15px 20px; /*2*/
  box-sizing: border-box; /*3*/
}